.header {
    background-color: #42597B;
    width: 100%;
    padding: 10px
}

.header .container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center,
}

.header-logo__img {
    width: 60px;
    height: 60px;
}

.header__navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 50px;
    align-items: center;
}

.header-navbar__items {
    display: flex;
    justify-content: space-between;
    gap: 30px
}

.header-navbar__item {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.header-login__user-icon img {
    border-radius: 50%;
    height: 35px;
}

.header-login__button button {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: none;
}

.header__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}