.menu {
    z-index: 3;
    position: absolute;
    top: 96px;
    bottom: 0;
    right: -120%;
    background-color: #fff;
    transition: 0.5s ease-in-out;
    .list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .item {
            display: flex;
            align-items: center;
            padding: 8px;
            border-radius: 4px;
            span {
                padding-right: 20px;
                svg {
                    height: 24px;
                    width: 24px;
                }
            }
            a {
                color: #000;
                text-decoration: none;
                font-family: 'Kurica Lapoi';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
            }
        }
        .item:active{ 
            background-color: #0e0d0d1a;
        }
    }
}

.menu.open{ 
    right: 0;
}

@media (max-width: 991px) {
    .menu {
        width: 100vw;
        .list {
            padding: 16px;
        }
    }
}

// @media (min-width: 991px) { 
//     .menu { 
//         display: none;
//     }
// }
