.welcome {
    width: 100%;
    background-color: #42597B;
    padding-top: 250px;
    padding-bottom: 92px;
    background: linear-gradient(to bottom, #FFFFFF 50%, #42597B 50%);
}

.about {
    max-width: 1600px;
    margin: 0 auto;
}

.registration {
    margin-top: 60px;
}

.feedback {
    margin: 92px  auto 0 auto;
}