.welcome {
    width: 100%;
    background: linear-gradient(to bottom, #FFFFFF 50%, #42597B 50%);
}

.general {
    margin-top: 171px;
}

.general .wrapper {
    /* background-image: url('../../imgs/welcomeBg.svg'); */
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #fff;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.top {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 364px;
}

.top .description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #89A4D6
}

.top .title {
    font-size: 48px;
    color: #42597B;
}

.top .subtitle {
    font-size: 40px;
}

.items {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 35px 40px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #252B42;
}

.line {
    width: 30%;
    height: 1px;
    background-color: #000;
    margin: 20px 0;
}

.description {
    font-family: 'Montserrat';
    font-style: normal;
    color: #737373;
}

.registration {
    margin: 62px 0 92px 0;
    background: linear-gradient(to right, #89A4D6 50%, #42597B 50%);
}

.registration .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.registration .left,
.right {
    padding: 46px 0;
    font-family: 'Mysl';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

.registration .left {
    position: relative;
}

.registration .left::after {
    position: absolute;
    content: '';
    top: -1px;
    right: -227px;
    display: inline-block;
    border: 134px solid transparent;
    border-left: 44px solid #89A4D6;
}

.registration .right {
    padding-left: 40px;
}