.feedback {
    display: flex;
    background-color: #89A4D6;
    max-width: 1115px;
    width: 100%;
    border-radius: 16px;
    height: 230px;
}

.right {
    font-family: 'Mysl';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    padding-left: 42px;
    overflow: hidden;
}

.right p {
    margin: 42px 0 15px 0;
}

.left {
    position: relative;
    max-width: 505px;
    width: 100%;
    height: 100%;
    border-right: 1px solid #42597B;
}

.left img { 
    position: absolute;
}

.left img:nth-child(1) {
    top: 0;
    left: 11px;
}

.left img:nth-child(2) {
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 16px;
}

.left img:nth-child(3) {
    top: 93px;
    left: 39px;
}

.left img:nth-child(4) {
    bottom: 16px;
    left: 93px;
}

.left img:nth-child(5) {
    top: 42px;
    left: 232px;
}

.left img:nth-child(6) {
    bottom: 28px;
    left: 240px;
}

.left img:nth-child(7) {
    bottom: 0;
    right: 53px;
}

.left img:nth-child(8) {
    top: 61px;
    right: 148px;
}

.left img:nth-child(9) {
    top: 61px;
    right: 41px;
}

.left img:nth-child(10) {
    top: 14px;
    right: 86px;
}

.left img:nth-child(11) {
    top: 6px;
    left: 123px;
}