.feedback {
    display: flex;
    justify-content: space-between;
    background-color: #89A4D6;
    width: 1115px;
    border-radius: 16px;
}

.item { 
    font-family: 'Mysl';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}