.registration {
    background: linear-gradient(to right, #89A4D6 50%, #42597B 50%);
    height: 250px;
}

.registration .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
}

.registration .left,
.right {
    font-family: 'Mysl';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.registration .right { 
    justify-content: end;
    gap: 20px;
}

.registration .left {
    position: relative;
    justify-content: center;
}

.registration .left::after {
    position: absolute;
    content: '';
    top: -1px;
    right: -226px;
    display: inline-block;
    border: 126px solid transparent;
    border-left: 50px solid #89A4D6;
}

.registration .right {
    padding-left: 40px;
}