.header {
    background-color: #42597b;
    padding: 16px;
    height: 64px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        max-height: 85px;
        max-width: 1600px;
        margin: 0 auto;
    }
}
